.hand__section {
    width: 93%;
    height: 900px;
    background: linear-gradient(287.67deg, rgba(255, 253, 230, 0.35) -3.53%, rgba(255, 253, 230, 0.07) -3.52%, rgba(224, 239, 250, 0.35) 92.55%);
    border-radius: 250px 0px 0px 0px;
    margin: 0 0 0 120px;
}

.in__hand--section {
    display: flex;
    justify-content: space-between;
    // gap: 25px;
    align-items: center;
    padding: 0 20px 0 0;
    box-sizing: border-box;
}