header {
	width: 100%;
	display: flex;
	justify-content: space-around;
	// background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
	align-items: center;
	height: 70px;
}

ul {
	display: flex;
}

li {
	list-style: none;
}

.header__li {
	overflow: hidden;
}

.header__li--a {
	padding: 15px 0;
	margin: 0 15px;
	font-size: 16px;
	line-height: 25px;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	transition: all 0.4s ease-in-out;
	font-weight: bold;
}

.container {
	max-width: 1400px;
	min-width: 1300px;
	margin: 0 auto;
	box-sizing: border-box;
}

.header__button {
	width: 150px;
	height: 50px;
	border-radius: 50px;
	box-sizing: border-box;
	background: none;
	border: 2px solid white;
	color: white;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	transition: all 0.4s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: #fff;
		color: #2A5298;
	}
}