.plans__section {
    width: 100%;
    height: 1000px;
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
}

.in__plans--section {
    background-image: url(./Background/background.png);
    background-repeat: no-repeat;
}

.plans__paragraph {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
    padding: 60px 0 2px 0;
}

.plans__h3 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #FFFFFF;
}

.one__block {
    width: 480px;
    height: 640px;
    background: #2F5392;
    margin: 80px 0 0 0;
    align-items: center;
    transition: all .4s ease-in-out;

    &:hover {
        background-color: #fff;
        color: black;

        .one__block--title {
            color: black;
        }

        .one__block--hero {
            color: black;
        }

        .info__block--p {
            color: black;
        }

        .one__block--button {
            background-color: #2F5392;
            color: #fff;
        }
    }
}

.two__block {
    position: relative;
    width: 480px;
    height: 640px;
    background: #2F5392;
    margin: 80px 0 0 0;
    align-items: center;
    transition: all .4s ease-in-out;

    &:hover {
        background-color: #fff;
        color: black;

        .one__block--title {
            color: black;
        }

        .one__block--hero {
            color: black;
        }

        .info__block--p {
            color: black;
        }

        .one__block--button {
            background-color: #2F5392;
            color: #fff;
        }

        .premium__one--p {
            color: #343D48;
        }
    }
}

.plans__block {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.one__block--title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.55px;
    color: #FFFFFF;
    padding: 70px 0 0 40px;
    transition: all .4s ease-in-out;
}

.one__block--hero {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.7;
    padding: 10px 0 0 40px;
    transition: all .4s ease-in-out;
}

.info__blocks {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    width: 380px;
    align-items: stretch;
    gap: 13px;
    box-sizing: border-box;
    padding: 0 0 20px 40px;
}

.actual {
    padding: 55px 0 20px 40px;
}

.one__block--button {
    width: 150px;
    height: 50px;
    background-color: #fff;
    border-radius: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    font-weight: 500;
    color: #2F5392;
    border: none;
    margin: 0 auto;
    display: block;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.no {
    font-size: 20px;
    color: grey;
    opacity: 0.7;
}

.recomended {
    position: absolute;
    width: 118px;
    height: 31px;
    border: none;
    background-color: #EF9E48;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin: 270px 0 0 730px;
    z-index: 10;
}

b {
    display: none;
}

.premium {
    display: flex;
    justify-content: space-between;
}

.premium__text {
    margin: 80px 20px 0 0;
}

.premium__one--p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.premium__much {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.55px;
    color: #25CB9E;
}