* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

a {
    text-decoration: none;
}

#responsive-menu {
    display: none;
}

// body {
//     overflow-x: hidden;
// }

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import "./__header.scss";
@import "./__hero.scss";
@import "./__quality-features.scss";
@import "./__info-section.scss";
@import "./__quality-features-2.scss";
@import "./__core-features.scss";
@import "./__count-section.scss";
@import "./__testimunials.scss";
@import "./_hand-section.scss";
@import "./_plans-section.scss";
@import "./frequent-section.scss";
@import "./footer.scss";
@import "./modal-window.scss";
@import "./responsive.scss";
